<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>📑 Daily Blog Posts</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- navigation bar creation -->
    <header>
      <nav class="navbar navbar-expand-sm bg-dark mb-5">
        <div class="container">
          <div class="navbar-brand navbar-header">
            <a class="pt-3" href="/">📑 DAILY BLOG POSTS</a>
          </div>
          
          <button class="navbar-toggler" data-toggle="collapse" data-target="#menus">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menus">
            <ul class="navbar-nav text-center ml-auto">
              <li class="nav-item" id="home">
                <a href="/" class="nav-link">HOME</a>
              </li>
              <li class="nav-item" id="about">
                <a href="/about" class="nav-link">ABOUT</a>
              </li>
              <li class="nav-item" id="compose">
                <a href="/compose" class="nav-link">COMPOSE</a>
              </li>
              <li class="nav-item" id="contact">
                <a href="/contact" class="nav-link">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <body>
      <div class="container text-justify">
