<%- include("partials/header"); -%>

	<h1>Contact me</h1>

	<p class="mt-5 my-contact" id="contact-me"> You can reach me at
		<a class="my-email" href="mailto: chatterjeeanurag8@gmail.com">chatterjeeanurag8@gmail.com</a>.
	</p>

<%- include("partials/footer"); -%>